# =============================================================================
# Sample Environment file for KrosmoBot
# =============================================================================

# Comma separated list of Discord user's IDs who will be granted total access
# to the client's features withour restriction
KROSMOBOT_OWNERS = ''

# Discord bot token from https://discord.com/developers/applications
KROSMOBOT_TOKEN = ''

# Default prefix to use for matching commands
# Default: '!'
KROSMOBOT_PREFIX = '!'

# Default locale to reply in
# Either 'en' or 'fr'
# Default: 'en'
KROSMOBOT_LOCALE = 'en'

# URL to the MongoDB database to connect to
# Format: <protocol>://<username>:<password>@<fqdn>/<database>?<options>
KROSMOBOT_MONGODB_URL = ''

# Log level to consider
# Logs generated with a level below the selected level will be ignored
# and will not be conserved
# Possible values are:
#   0 (verbose)
#   1 (debug)
#   2 (info)
#   3 (success)
#   4 (warning)
#   5 (error)
#   6 (wtf)
# Default: '2'
KROSMOBOT_LOG_LEVEL = '2'

# Display name of the bot on Discord
# Default: 'Krosmobot'
KROSMOBOT_USERNAME = 'KrosmoBot'

# Twitter credentials from https://developer.twitter.com/en
KROSMOBOT_TWITTER_CONSUMER_KEY = ''
KROSMOBOT_TWITTER_CONSUMER_SECRET = ''
KROSMOBOT_TWITTER_BEARER_TOKEN = ''

# Interval between each run of the scheduler, in seconds
# The scheduler will run all elligible tasks on each run,
# hence a bigger value here may increase the time between the moment
# a task becomes elligible and the time it is run 
# This does not impact the maximum delay between tasks
# Setting the tasks interval to 60 means that a single task can be run
# once every minute at best
# Default: 5
KROSMOBOT_TASKS_INTERVAL = '5'
